.wordwrap {
  white-space: pre-line !important;
  word-wrap: break-word;
}

div.output {
  padding-top: 75px;
}

.body {
background-color: #000000; /*DARK 300*/
margin-top: 40px; /* Body start below the Appbar, we do not use margin left because we want the body (particularly Particles.js) to be visible if we collapse the drawer*/
}

/*.subbody {
padding: 80px 5px;
}*/

/*.element {
border-radius: 15px;
padding: 90px 155px;
}*/

.center-element {
padding: 400px 1050px; /*this is only for Titlescreen*/
}

.right-element {
background-color: #1e1e1e;
margin-left: 200px; /* start a bit after Drawer */
margin-top: 20px; /* so if we have >1 right-element there is a 50px gap in between (top + bottom) */
margin-bottom: 30px; /* so if we have >1 right-element there is a 50px gap in between (top + bottom) */
border-radius: 20px;
padding: 25px 25px;
z-index: 20;
position: relative;
width: 1700px;
}

.my-grid {
}

/*.rc-modal-panel-child-container div  {
background-color: #1e1e1e;
}*/


.leftnavbar {
display: flex;
width: 150px;
z-index: 250;
position: fixed;
padding: 75px 0px;
height: 100%;
font-size: 17px;
background-color: #353535;
}


.navbar {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 50px;
  background-color: #353535; /*DARK 300*/
  margin: 0 !important;
  padding: 0 !important;
  font-family: Segoe UI, Roboto, sans-serif;
  font-size: 18px;
  z-index: 500;
  display: flex;
  border: 0px;
  }

.navbar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.leftnavbar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover:not(.active) > .dropdown-content, .dropdown:hover {
  background-color: #8ddff5;  /*PRIMARY 400*/

  }


.leftnavbar a:hover:not(.active) > .dropdown-content, .dropdown:hover {
  background-color: #8ddff5; /*PRIMARY 400*/
  }


.active {
  background-color: #8ddff5; /*PRIMARY 400*/
}

.separatorline {
  position: fixed;
  width: 100%;
  top: 50px;
  height: 3px;
  z-index: 500;
  display: flex;
}

.separatorvline {
  position: fixed;
  width: 3px;
  top: 50px;
  left: 250px;
  height: 100%;
  z-index: 500;
  display: flex;
}

.dropdown {
  background-color: #353535;; /* DARK 300 */
  display: flex;
  justify-content: center;
  }

.dropdown-active {
  background-color: #2bcff0; /* PRIMARY 100 */
  justify-content: center;
}

.dropdown-right {
  float: right;
  overflow: hidden;
}

.dropdown-right .dropbtn-right {
  font-size: inherit;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #353535; /* DARK 300 */
  font-weight: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover:not(.active) > .dropdown-content-right, .dropdown-right:hover {
  background-color: #2bcff0; /* PRIMARY 100 */
}

.dropdown-content-right {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content-right a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-right a:hover {
  background-color: #2bcff0;
}

.dropdown-right:hover .dropdown-content-right {
  display: block;
}

.active {
  background-color: #2bcff0; /* PRIMARY 100 */
}

/*---------------------------------------------MRT TABLE--------------------------------------------------------------*/
/* class mrt-table-dark has been assigned  */
.mrt-table-dark tr:hover td {
  background-color: #2bcff0;
  color: #000000
}

.mrt-table-dark-cellar tr:hover td {
  background-color: #2bcff0;
  color: #000000
}
.mrt-table-dark-cellar td {
  color: #000000
}
/*---------------------------------------------MUI COMPONENTS---------------------------------------------------------*/
/*.MuiInputBase-root {
*//*  border-radius: 50px !important;*//*
*//*  border-color: #2bcff0;*//*
  border: 1.5px solid #2bcff0
}*/

/*.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
            border: 1px solid #2bcff0
}*/

/*The below is not working in the CSS, must be a stupid thing ...*//*
.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: red;
}*/


/*---------------------------------------------TITLE SCREEN-----------------------------------------------------------*/
.titlescreen  {
                  position: relative;
                  font-family:    Segoe UI, Roboto, sans-serif;
                  text-transform: lowercase;
                  font-size: 12em;
                  letter-spacing: 3px;
                  overflow: hidden;
                  background: linear-gradient(90deg, #000000, #2bcff0, #000000); /*PRIMARY 100*/
                  background-repeat: no-repeat;
                  background-size: 80%;
                  animation: animate-titlescreen 5s linear;
                  animation-iteration-count: infinite;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: rgba(255, 255, 255, 0);
                  user-select: none                                         /* avoid select text on double click, messing up with particles */
                }
                @keyframes animate-titlescreen {
                  0% {
                    background-position: -500%;
                  }
                  100% {
                    background-position: 500%;
                  }
                }
/*------------------------------------------------ ??? ---------------------------------------------------------------*/
#vg-tooltip-element {
z-index: 2000;
}
/*--------------------------------------------------PARTICLES---------------------------------------------------------*/

/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;        /*DARK 100*/
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 0
}